<div class="container">
    <div class="registro">
        <h2>Registro</h2>
        <form #registroForm="ngForm">
            <div class="form-group">
                <label for="nombre"><b>Nombre:</b></label>
                <input type="text" id="nombre" name="nombre" pInputText [(ngModel)]="registroData.nombre">
            </div>
            <div class="form-group">
                <label for="correo"><b>Correo:</b></label>
                <input type="email" id="correo" name="correo" pInputText [(ngModel)]="registroData.correo">
            </div>
            <div class="form-group">
                <label for="contraseña"><b>Contraseña:</b></label>
                <input type="password" id="contraseña" name="contraseña" pPassword [(ngModel)]="registroData.contrasena">
            </div>
            <div class="form-group">
                <label for="foto"><b>Foto de Perfil:</b></label>
                <input type="file" id="foto" name="foto" pFileUpload mode="basic" [(ngModel)]="registroData.foto">
                <div class="logearse" (click)="navegaLogin()"><u>Tengo cuenta</u></div>
            </div>
            <button class="botonRegistro" type="button" (click)="registro()" pButton>Aceptar</button>
            <button type="button" (click)="borrar()" pButton>Limpiar</button>
        </form>
    </div>
</div>
