<div class="container">
    <div class="row flex-sm-row flex-column custom-margin-bottom">
        <div class="col-md-3 order-1 order-md-0">
            <p>Filtros</p>
                <div class="checkbox">
                    <label for="tipoUsuario">Tipo de Usuario:</label><br>
                    <input type="checkbox" id="usuarioEstandar" name="tipoUsuario" value="usuarioEstandar">
                    <label for="usuarioEstandar">Usuario Estándar</label><br>
                    <input type="checkbox" id="compania" name="tipoUsuario" value="compania">
                    <label for="compania">Compañía</label><br>

                    <label for="edad">Edad Mínima:</label>
                    <input type="text" id="edad" name="edad" value="edad"><br>

                    <label for="edad">Edad Máxima:</label>
                    <input type="text" id="edad" name="edad" value="edad"><br>

                    <label for="profesion">Profesión:</label><br>
                    <input type="checkbox" id="actor" name="tipoUsuario" value="actor">
                    <label for="actor">Actor/iz</label><br>

                    <input type="checkbox" id="bailarin" name="tipoUsuario" value="bailarin">
                    <label for="bailarin">Bailarín/a</label><br>

                    <input type="checkbox" id="escenografo" name="tipoUsuario" value="escenografo">
                    <label for="escenografo">Escenógrafo/a</label><br>

                    <input type="checkbox" id="maquillador" name="tipoUsuario" value="maquillador">
                    <label for="maquillador">Maquillador/a</label><br>

                    <input type="checkbox" id="guionista" name="tipoUsuario" value="guionista">
                    <label for="guionista">Guionista</label><br>

                    <input type="checkbox" id="estilista" name="tipoUsuario" value="estilista">
                    <label for="estilista">Estilista</label><br>
                </div>
        </div>
        <div class="col-md-5 order-0 order-md-1">
            <div class="busqueda">
                <input type="text" placeholder="Buscar..." (keyup)="filtrarUsuariosYCompanias($event)">
            </div>
            <div class="resultados">
                <div *ngFor="let usuario of usuariosFiltrados" class="usuario" (click)="goPerfil(usuario.id)">
                    <img [src]="usuario.fotoPerfil" alt="Foto de perfil">
                    <p>{{ usuario.nombre.toUpperCase() }}</p>
                    <p>Edad: {{usuario.edad}}</p>
                </div>
                <div *ngFor="let compania of companiasFiltradas" class="usuario" (click)="goCompania(compania.id)">
                    <img [src]="compania.fotoPerfil" alt="Foto de perfil">
                    <p>{{ compania.nombre.toUpperCase() }}</p>
                    <p>Miembros: {{ compania.miembros}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 order-2">
            <p>Historial</p>
        </div>
</div>