<div class="container">
    <div class="row flex-sm-row flex-column custom-margin-bottom">
        <div class="col-md-3 order-1 order-md-0">
            <h3>Filtros</h3>
            <div class="form-group">
                <label for="tipoUsuario">Tipo de Usuario:</label>
                <select class="form-control" id="tipoUsuario" name="tipoUsuario" (change)="mostrarFiltros($event)">
                    <option value="">Sin determinar</option>
                    <option value="usuarios">Usuarios</option>
                    <option value="companias">Compañías</option>
                </select>
            </div>
            
            <div class="form-group" id="filtrosUsuarios" *ngIf="filtroTipo === 'usuarios'">
                <label for="edadMin">Edad Mínima:</label>
                <input type="number" class="form-control" id="edadMin" name="edadMin" value="16">
                <label for="edadMax">Edad Máxima:</label>
                <input type="number" class="form-control" id="edadMax" name="edadMax" value="100">
                <label for="profesion">Profesión:</label>
                <select class="form-control" id="profesion" name="profesion">
                    <option value="">Sin determinar</option>
                    <option value="actor">Actor/iz</option>
                    <option value="bailarin">Bailarín/a</option>
                    <option value="escenografo">Escenógrafo/a</option>
                    <option value="maquillador">Maquillador/a</option>
                    <option value="guionista">Guionista</option>
                    <option value="estilista">Estilista</option>
                </select>
                <button (click)="aplicarFiltrosUsuarios()">Aceptar</button>
                <button (click)="limpiarFiltrosUsuarios()">Limpiar</button>
            </div>
            
            <div class="form-group" id="filtrosCompanias" *ngIf="filtroTipo === 'companias'">
                <label for="minMiembros">Mínimo de Miembros:</label>
                <input type="number" class="form-control" id="minMiembros" name="minMiembros" value="1">
                <label for="maxMiembros">Máximo de Miembros:</label>
                <input type="number" class="form-control" id="maxMiembros" name="maxMiembros" value="100">
                <label for="fechaCreacion">Fecha de Creación:</label>
                <input type="date" class="form-control" id="fechaCreacion" name="fechaCreacion">
                <button (click)="aplicarFiltrosCompanias()">Aceptar</button>
                <button (click)="limpiarFiltrosCompanias()">Limpiar</button>
            </div>            
            
        </div>
        <div class="col-md-8 order-0 order-md-1">
            <div class="busqueda">
                <input type="text" placeholder="Buscar..." (keyup)="filtrarUsuariosYCompanias($event)">
            </div>
            <div class="resultados">
                <div *ngIf="filtroTipo === 'usuarios'">
                  <div *ngFor="let usuario of usuariosFiltrados" class="usuario" (click)="goPerfil(usuario.id)">
                    <img [src]="usuario.fotoPerfil" alt="Foto de perfil">
                    <p>{{ usuario.nombre.toUpperCase() }}</p>
                    <p>Profesión: {{usuario.profesion}}</p>
                    <p>Edad: {{usuario.edad}}</p>
                  </div>
                </div>
                <div *ngIf="filtroTipo === 'companias'">
                  <div *ngFor="let compania of companiasFiltradas" class="usuario" (click)="goCompania(compania.id)">
                    <img [src]="compania.fotoPerfil" alt="Foto de perfil">
                    <p>{{ compania.nombre.toUpperCase() }}</p>
                    <p>Miembros: {{ compania.miembros}}</p>
                    <p>Fecha Creación: {{compania.fechaCreacion | date:'dd/MM/yyyy' }}</p>
                  </div>
                </div>
                <div *ngIf="filtroTipo === ''">
                    <div *ngFor="let usuario of usuariosFiltrados" class="usuario" (click)="goPerfil(usuario.id)">
                        <img [src]="usuario.fotoPerfil" alt="Foto de perfil">
                        <p>{{ usuario.nombre.toUpperCase() }}</p>
                        <p>Profesión: {{usuario.profesion}}</p>
                        <p>Edad: {{usuario.edad}}</p>
                    </div>
                    <div *ngFor="let compania of companiasFiltradas" class="usuario" (click)="goCompania(compania.id)">
                        <img [src]="compania.fotoPerfil" alt="Foto de perfil">
                        <p>{{ compania.nombre.toUpperCase() }}</p>
                        <p>Miembros: {{ compania.miembros}}</p>
                        <p>Fecha Creación: {{compania.fechaCreacion | date:'dd/MM/yyyy' }}</p>
                    </div>
                </div>
            </div>
        </div>
</div>