.container {
    max-width: 100%;

    .row {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: nowrap;
        color: white;
        margin: 0;

        .col-md-3 {
            margin-bottom: 20px;
            padding: 1%;
            border-radius: 10px;
            display: flex;
            text-align: center;
            background-color: var(--color-primario);
            max-height: 100%;
            flex-direction: column;

            .checkbox{
                label{
                    font-size: medium;
                }
            }
        }

        .col-md-5 {
            padding: 1%;
            border-radius: 10px;
            display: flex;
            text-align: center;
            background-color: var(--color-primario);
            max-height: 100%;
            flex-direction: column;
            margin-bottom: 20px;

            .botones {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                :hover {
                    box-shadow: 0px 0px 20px 0px var(--color-enlaces-hover);
                }

                .p-button {
                    margin: 10px 10px;
                    border-radius: 10px;
                    background-color: white !important;
                    color: black;
                    border-color: black;
                    display: flex;
                    justify-content: center; /* Centrar horizontalmente */
                    align-items: center; /* Centrar verticalmente */
                }
            }

            .busqueda {
                background-color: var(--color-primario);
                border-radius: 10px;
                padding: 1%;
                display: flex;
                align-items: center;
    
                input[type="text"] {
                    font-size: large;
                    border-radius: 10px;
                    flex: 1;
                    height: 100%;
                    padding: 2%;
                    border-color: var(--color-primario);
                }
    
                button {
                    font-size: large;
                    border-radius: 10px;
                    margin-left: 5px;
                    background-color: white;
                    color: black;
                    border-color: var(--color-primario);
                    height: 100%;
                }
            }

            .resultados {
                padding: 1%;
                display: flex;
                align-items: center;
                border-radius: 10px;
                background-color: var(--color-primario);
                flex-direction: column;
                overflow-y: auto;
                max-height: 428px;
                border: solid 2px var(--color-primario); // Borde con el color primario

                &::-webkit-scrollbar {
                    width: 10px;
                }
            
                &::-webkit-scrollbar-track {
                    background: var(--color-primario);
                }
            
                &::-webkit-scrollbar-thumb {
                    background-color: var(--color-enlaces-hover);
                    border-radius: 10px;
                    border: solid 2px var(--color-primario);
                }
            
                .usuario {
                    background-color: var(--color-enlaces-hover);
                    margin-top: 2%;
                    padding: 1%;
                    margin-bottom: 3%;
                    display: flex; 
                    align-items: stretch; 
                    justify-content: space-around;
                    flex-direction: row;
                    width: 100%;
                    border: solid 2px white;
                    border-radius: 10px;

                    &:hover{
                        cursor: pointer;
                    }
            
                    img {
                        width: 50px; // Ajusta el tamaño de la imagen según sea necesario
                        height: 50px; // Ajusta el tamaño de la imagen según sea necesario
                        margin-right: 10px; // Añade un espacio entre la imagen y los textos
                        border-radius: 50%;
                        border: 2px solid white; /* Borde blanco */
                        text-align: center;
                        line-height: 40px; /* Ajusta según el tamaño deseado */
                    }

                    p {
                        margin-top: 2.5%;// Centra los elementos p dentro de la clase .usuario
                    }

                    .custom-button {
                        display: flex;
                        justify-content: space-around;
                        align-items:  center;
                        width: 20%;
                        padding: 1%;
                        border-radius: 10px;
                        background-color: white !important;
                        color: black; /* Cambia el color de fondo de los botones pButton */
                        border-color: black;
                    }
                }
            }
        }
    }
}