<div class="container">
      <div class="row flex-sm-row flex-column custom-margin-bottom">
        <div class="col-md-3 order-1 order-md-0">
          <img [src]="compania.fotoPerfil" class="perfilAvatar">
          <h4>Compañía:  {{ compania.nombre }}</h4>
          <h4>Descripción:  {{ compania.descripcion }}</h4>
          <h4>Miembros:  {{ compania.miembros }}</h4>
          <h4>Fecha Creación: {{ compania.fechaCreacion | date:'dd/MM/yyyy' }}</h4>
          <div class="botones" *ngIf="compania.idCreador === usuarioId">
            <button type="button" (click)="mostrarCrearPublicacion()" pButton>Crear Publicación</button>
            <button type="button" (click)="generaInforme()" pButton>Generar informe compañía</button>
            <button type="button" (click)="mostrarFormularioModificar()" pButton>Modificar compañía</button>
            <button type="button" (click)="eliminarCompania(companiaId)" pButton>Eliminar compañía</button>
          </div>
          <h2 *ngIf="usuarioActual.companiaSeguida !== compania.id && usuarioActual.id !== compania.idCreador && usuarioActual.companiaSeguida !==0">Solo puedes pertenecer a una compañía</h2>
          <div class="botones">
            <!-- usuario no creador y sin compañia -->
            <button *ngIf="usuarioActual.companiaSeguida === 0 && usuarioActual.id !== compania.idCreador" type="button" (click)="entrarCompania(companiaId)" pButton>Entrar a compañía</button>
            <button *ngIf="usuarioActual.companiaSeguida === companiaId && usuarioActual.id !== compania.idCreador" type="button" (click)="abandonarCompania(companiaId)" pButton>Abandonar compañía</button>
          </div>
        
          <!--Formulario para modificar compañías-->
          <div *ngIf="mostrandoFormularioModificar" class="modificarCompania">
            <form (submit)="modificarCompania()" #updateForm="ngForm">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" [(ngModel)]="companiaTemporal.nombre" pattern="[a-zA-Z]*">
                <div *ngIf="updateForm.controls['nombre'].errors?.['pattern']">El nombre no puede contener números.</div>
              </div>
              <div class="form-group">
                <label for="correo">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" [(ngModel)]="companiaTemporal.descripcion">
              </div>
              <div class="form-group">
                <label for="fotoPerfil">Foto de perfil:</label>
                <div class="botones">
                  <button type="button" (click)="mostrarIconos()" style="margin-top: 0;width: 100%;" pButton>Ver Iconos</button>
                </div>
              </div>
              <div class="avatares" *ngIf="mostrarDialogo">
                <div *ngFor="let imagen of imagenesCompanias; let i = index" class="imagenes">
                    <img [src]="imagen" alt="Imagen">
                    <div class="botones">
                        <button type="button" pButton (click)="elegirFotoPerfilCompania(i)">Elegir</button>
                    </div>
                </div>
                <div class="botones">
                    <button type="button" (click)="cerrarDialogo()" pButton style="margin-top: 20%;"> Cerrar</button>
                </div>
              </div>
              <div class="botones2">
                <button type="submit" [disabled]="updateForm.invalid" pButton>Guardar</button>
                <button type="button" (click)="cancelarModificacion()" pButton>Cancelar</button>
              </div>
            </form>
          </div>

          <!--Formulario para crear publicaciones en compañías-->
              <div *ngIf="mostrandoFormularioCrearPublicacion" class="crearCompania">
                <form (ngSubmit)="crearPublicacionCompania()" #publicacionForm="ngForm">
                  <div class="form-group">
                    <label for="contenido">Contenido:</label>
                    <textarea id="contenido" name="contenido" class="form-control" [(ngModel)]="publicacion.contenido" required style="height: 100px; margin-bottom: 2%;"></textarea>
                  </div>
                  <div class="botones2">
                    <button type="submit" class="custom-button" [disabled]="publicacionForm.invalid" pButton>Publicar</button>
                    <button type="button" class="custom-button"(click)="cerrarCrearPublicacion()" pButton>Cancelar</button>
                  </div>
                </form>
              </div>

        </div>
        <div class="col-md-5 order-1 order-md-0">
            <h1>Publicaciones</h1>
            <div *ngFor="let publicacion of publicacionesActual" class="publicaciones">
              <div class="contenido">
                <p>Contenido: {{ publicacion.contenido }}</p>
              </div>
              <p style="margin-bottom: 0;">Fecha de Publicación: {{ publicacion.fechaPublicacion | date:'dd/MM/yyyy'}}</p>
              <div class="acciones botones">
                <p><i class="pi pi-heart" style="font-size: 1.5rem;" (click)="darMeGusta(publicacion)"></i>{{ publicacion.numMeGustas}}</p>
                <p><i class="pi pi-comment" style="font-size: 1.5rem" (click)="mostrarCrearComentario(publicacion.id)"></i></p>
                  <button *ngIf="publicacion.idUsuario === usuarioIdFromLocalStorage" (click)="mostrarFormularioUpdatePublicacion(publicacion.id, publicacion.contenido)" pButton>Editar</button>
                  <button *ngIf="publicacion.idUsuario === usuarioIdFromLocalStorage" type="button" (click)="eliminarPublicacion(publicacion.id)" pButton>Eliminar</button>
              </div>
              <!--form para modificar la publicación-->
             <form *ngIf="publicacion.id === publicacionEnEdicion">
              <div class="form-group">
                <label for="contenidoPublicacion">Contenido de la Publicación:</label>
                <textarea id="contenidoPublicacion" name="contenidoPublicacion" rows="4" cols="20" [(ngModel)]="contenidoTemporal"></textarea>
              </div>  
              <div class="botones">
                <button type="button" (click)="guardarPublicacion(publicacion.id)" pButton>Guardar</button>
                <button type="button" (click)="cancelarPublicacion()" pButton>Cancelar</button>
              </div>
            </form>
              <form *ngIf="publicacion.id === publicacionComentar" (ngSubmit)="crearComentario(publicacion, comentario.contenido)">
                <div class="form-group">
                  <label for="contenidoComentario">Contenido del Comentario:</label>
                  <textarea id="contenidoComentario" name="contenidoComentario" rows="4" cols="20" [(ngModel)]="comentario.contenido" required></textarea>
                </div>
                <div class="botones">
                  <button type="submit" pButton>Comentar</button>
                  <button type="button" (click)="cancelarComentario()" pButton>Cancelar</button>
                </div>
              </form>
              <div class="comentarios">
                <div *ngFor="let comentario of publicacion.comentarios" class="comentario">
                  <ng-container *ngIf="usuariosCargados[comentario.idUsuario]">
                    <img *ngIf="usuariosCargados[comentario.idUsuario].fotoPerfil" (click)="irAlPerfilUsuario(comentario.idUsuario)" [src]="usuariosCargados[comentario.idUsuario].fotoPerfil" class="perfilAvatar" style="cursor: pointer;">
                    <p style="cursor: pointer;" (click)="irAlPerfilUsuario(comentario.idUsuario)">comentado por: {{ usuariosCargados[comentario.idUsuario].nombre }}</p>
                  </ng-container>
                  <p>{{ comentario.contenido }}</p>
                  <p>{{ comentario.fechaComentario | date:'dd/MM/yyyy' }}</p>
                  <div class="botones2">
                    <button type="button" *ngIf="comentario.idUsuario === usuarioIdFromLocalStorage" (click)="eliminarComentario(comentario.id)" pButton>Eliminar</button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let publicacion of publicacionesNoActual" class="publicaciones">
              <div class="contenido">
                <p>Contenido: {{ publicacion.contenido }}</p>
              </div>
              <p style="margin-top: 1%; margin-bottom: 1%;">Fecha de Publicación: {{ publicacion.fechaPublicacion | date:'dd/MM/yyyy'}}</p>
              <div class="acciones botones">
                <p ><i class="pi pi-heart" style="font-size: 1.5rem;" (click)="darMeGusta(publicacion)"></i>{{ publicacion.numMeGustas}}</p>
              <p><i class="pi pi-comment" style="font-size: 1.5rem" (click)="mostrarCrearComentario(publicacion.id)"></i></p>
              </div>
              <div class="comentarios">
                <div *ngFor="let comentario of publicacion.comentarios" class="comentario">
                  <ng-container *ngIf="usuariosCargados[comentario.idUsuario]">
                    <img *ngIf="usuariosCargados[comentario.idUsuario].fotoPerfil" (click)="irAlPerfilUsuario(comentario.idUsuario)" [src]="usuariosCargados[comentario.idUsuario].fotoPerfil" class="perfilAvatar" style="cursor: pointer;">
                    <p style="cursor: pointer;" (click)="irAlPerfilUsuario(comentario.idUsuario)">comentado por: {{ usuariosCargados[comentario.idUsuario].nombre }}</p>
                  </ng-container>
                  <p>{{ comentario.contenido }}</p>
                  <p>{{ comentario.fechaComentario | date:'dd/MM/yyyy' }}</p>
                  <div class="botones2">
                    <button type="button" *ngIf="comentario.idUsuario === usuarioIdFromLocalStorage" (click)="eliminarComentario(comentario.id)" pButton>Eliminar</button>
                  </div>
                </div>
              </div>
            </div>
            <form *ngIf="publicacion.id === publicacionComentar" (ngSubmit)="crearComentario(publicacion, comentario.contenido)">
              <div class="form-group">
                <label for="contenidoComentario">Contenido del Comentario:</label>
                <textarea id="contenidoComentario" name="contenidoComentario" rows="4" cols="20" [(ngModel)]="comentario.contenido" required></textarea>
              </div>
              <div class="botones">
                <button type="submit" pButton>Comentar</button>
                <button type="button" (click)="cancelarComentario()" pButton>Cancelar</button>
              </div>
            </form>
            <div *ngIf="publicacionesNoActual.length == 0 && publicacionesActual.length==0">
              <p> ESTA COMPAÑÍA TODAVÍA NO HA PUBLICADO NADA</p>
            </div>
        </div>
        <div class="col-md-3 order-2">
            <h1 class="miembros-name">Miembros</h1>
            <div *ngFor="let usuario of usuariosSeguidores" class="miembros" (click)="goPerfil(usuario.id)">
              <img [src]="usuario.fotoPerfil" alt="Foto de perfil">
              <p>{{ usuario.nombre.toUpperCase() }}</p>
              <p>Edad: {{ usuario.edad }}</p>
              <button *ngIf="usuario.id !== usuarioId && usuarioId == compania.idCreador" type="button" class="custom-button" (click)="eliminarUsuarioCompania(usuario.id)">Eliminar</button>
              <i *ngIf="usuario.id == compania.idCreador" class="pi pi-crown" style="font-size: 1.5rem"></i>
            </div>
        </div>
      </div>
  </div>
  
