<div class="container">
      <div class="row flex-sm-row flex-column custom-margin-bottom">
        <div class="col-md-3 order-1 order-md-0">
          <h4>Compañía:  {{ compania.nombre }}</h4>
          <h4>Descripción:  {{ compania.descripcion }}</h4>
          <h4>Miembros:  {{ compania.miembros }}</h4>
          <h4>Fecha Creación: {{ compania.fechaCreacion | date:'dd/MM/yyyy' }}</h4>
          <div class="botones" *ngIf="compania.idCreador === usuarioId">
            <button type="button" (click)="generaInforme()" pButton>Generar informe compañía</button>
            <button type="button" (click)="mostrarFormularioModificar()" pButton>Modificar compañía</button>
            <button type="button" (click)="eliminarCompania(companiaId)" pButton>Eliminar compañía</button>
        </div>
        <h2 *ngIf="usuarioActual.companiaSeguida !== 0 && usuarioActual.id !== compania.idCreador">Solo puedes pertenecer a una compañía</h2>
        <div class="botones">
          <button *ngIf="!(usuarioActual.companiaSeguida == 0 || usuarioActual.id !== compania.idCreador)" type="button" (click)="entrarCompania(companiaId)" pButton>Entrar a compañía</button>
          <button *ngIf="!(usuarioActual.companiaSeguida !== 0 || usuarioActual.id !== compania.idCreador)" type="button" (click)="abandonarCompania(companiaId)" pButton>Abandonar compañía</button>
          
          <!-- usuario no creador y sin compañia -->
          <button *ngIf="usuarioActual.companiaSeguida === 0 && usuarioActual.id !== compania.idCreador" type="button" (click)="entrarCompania(companiaId)" pButton>Entrar a compañía</button>
          <button *ngIf="usuarioActual.companiaSeguida === companiaId && usuarioActual.id !== compania.idCreador" type="button" (click)="abandonarCompania(companiaId)" pButton>Abandonar compañía</button>

        </div>
        
        
          
          <div *ngIf="mostrandoFormularioModificar">
            <form (submit)="modificarCompania()" #updateForm="ngForm">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" [(ngModel)]="compania.nombre" pInputText pattern="[a-zA-Z]*">
                <div *ngIf="updateForm.controls['nombre'].errors?.['pattern']">El nombre no puede contener números.</div>
              </div>
              <div class="form-group">
                <label for="correo">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" [(ngModel)]="compania.descripcion" pInputText>
              </div>
              <div class="form-group">
                <label for="fotoPerfil">Foto de perfil:</label>
                <input type="file" id="foto" name="foto" pFileUpload mode="basic" [(ngModel)]="compania.fotoPerfil">
              </div>
              <div class="botones2">
                <button type="submit" [disabled]="updateForm.invalid" pButton>Guardar</button>
                <button type="button" (click)="cancelarModificacion()" pButton>Cancelar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5 order-0 order-md-1">
            <h1>Publicaciones</h1>
        </div>
        <div class="col-md-3 order-2">
            <h1 class="miembros-name">Miembros</h1>
            <div *ngFor="let usuario of usuariosSeguidores" class="miembros" (click)="goPerfil(usuario.id)">
              <img [src]="usuario.fotoPerfil" alt="Foto de perfil">
              <p>{{ usuario.nombre.toUpperCase() }}</p>
              <p>Edad: {{ usuario.edad }}</p>
              <button *ngIf="usuario.id !== usuarioId && usuarioId == compania.idCreador" type="button" class="custom-button">Eliminar</button>
              <i *ngIf="usuario.id == compania.idCreador" class="pi pi-crown" style="font-size: 1.5rem"></i>
            </div>
        </div>
      </div>
  </div>
  
