.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: 1;

    .registro {
        font-size: large;
        padding: 2%;
        background-color: var(--color-primario);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        border-radius: 10px;

        h2{
            text-align:  center;
            margin-bottom: 5%;
        }

        .form-group {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 4%;
            }

            input{
                width: 85%;
            }

            .iconos{
                display: flex;
                flex-direction: row;
                align-items: center;

                i{
                    margin-left: 3%;
                }
            }

            .nombre{
                display: flex;
                flex-direction: row;
                align-items: center;

                i{
                    margin-left: 3%;
                }
            }
        }

        .logearse{
            text-align: center;
            margin-top: 5%;
            width: 100%;
            cursor: pointer; /* Cambia el cursor al pasar por encima del texto */

            :hover{
                color:var(--color-enlaces-hover);
            }
        }


        .botones{
            text-align: center;

            button{
                margin-top: 4%;
                margin-left: 4%;
            }

            :hover{
                box-shadow: 0px 0px 20px 0px var(--color-enlaces-hover);
            }
            .p-button {
                border-radius: 10px;
                background-color: white !important;
                color: black; /* Cambia el color de fondo de los botones pButton */
                border-color: black; /* Cambia el color de fondo de los botones pButton */
              }
        }
    }
}