<div class="container">
    <div class="registro">
        <h2>Registro</h2>
        <form #registroForm="ngForm" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre"><b>Nombre:</b></label>
                        <div class="iconos">
                            <input type="text" id="nombre" name="nombre" pInputText [(ngModel)]="usuario.nombre" required pattern="[a-zA-Z]*">
                            <i class="pi pi-lock" style="font-size: 1.5rem;"></i>
                        </div>
                        <div *ngIf="registroForm.controls['nombre'].errors?.['pattern']">El nombre solo puede contener letras</div>
                        <div *ngIf="registroForm.controls['nombre'].errors?.['required']">El nombre es requerido.</div>
                    </div>
                    <div class="form-group">
                        <label for="contraseña"><b>Contraseña:</b></label>
                        <div class="iconos">
                            <input type="password" id="contraseñaLogin" name="contraseñaLogin" class="form-control" [(ngModel)]="usuario.contrasena" required>
                            <i class="pi" [ngClass]="{ 'pi-eye-slash': !showPassword, 'pi-eye': showPassword }" style="font-size: 1.5rem; cursor: pointer;" (click)="togglePasswordVisibility()"></i>
                        </div>
                        <div *ngIf="registroForm.controls['contraseñaLogin'].errors?.['required']">La contraseña es requerida.</div>
                    </div>
                    <div class="form-group">
                        <label for="correo"><b>Correo:</b></label>
                        <div class="iconos">
                            <input type="email" id="correo" name="correo" pInputText [(ngModel)]="usuario.correoElectronico" required>
                            <i class="pi pi-envelope" style="font-size: 1.5rem;"></i>
                        </div>
                        <div *ngIf="registroForm.controls['correo'].errors?.['email']">El correo electrónico no tiene un formato válido.</div>
                        <div *ngIf="registroForm.controls['correo'].errors?.['required']">El correo electrónico es requerido.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="edad"><b>Edad:</b></label>
                        <div class="iconos">
                            <input type="number" id="edad" name="edad" pInputNumber [(ngModel)]="usuario.edad" required min="16" max="100">
                            <i class="pi pi-calendar" style="font-size: 1.5rem;"></i> 
                        </div>
                        <div *ngIf="registroForm.controls['edad'].errors?.['min'] || registroForm.controls['edad'].errors?.['max']">La edad debe estar entre 16 y 100.</div>
                        <div *ngIf="registroForm.controls['edad'].errors?.['required']">La edad es requerida.</div>
                    </div>
                    <div class="form-group">
                        <label for="profesion"><b>Profesión:</b></label>
                        <div class="iconos">
                            <select id="profesion" name="profesion" class="form-control" [(ngModel)]="usuario.profesion" required>
                                <option value="">Sin determinar</option>
                                <option value="actor">Actor/iz</option>
                                <option value="bailarin">Bailarín/a</option>
                                <option value="escenografo">Escenógrafo/a</option>
                                <option value="maquillador">Maquillador/a</option>
                                <option value="guionista">Guionista</option>
                                <option value="estilista">Estilista</option>
                            </select>
                            <i class="pi pi-briefcase" style="font-size: 1.5rem;"></i> 
                        </div>
                        <div *ngIf="registroForm.controls['profesion'].errors?.['required']">La profesión es requerida.</div>
                    </div>
                    <div class="form-group">
                        <label for="foto"><b>Foto de Perfil:</b></label>
                        <div class="botones">
                            <button type="button" class="btn btn-primary" (click)="mostrarIconos()" pButton style="margin-top: 0;">Ver Iconos</button>
                        </div>
                    </div> 
                    <div class="avatares">
                        @if (mostrarDialogo) {
                            <div *ngFor="let imagen of imagenes" class="imagenes">
                                <img [src]="imagen" alt="Imagen">
                                <div class="botones">
                                    <button type="button" class="btn btn-primary" pButton> Elegir</button>
                                </div>
                            </div>
                        } 
                    </div>
                    @if (mostrarDialogo) {
                    <div class="botones">
                        <button type="button" class="btn btn-primary" (click)="cerrarDialogo()" pButton style="margin-top: 20%;"> Cerrar</button>
                    </div>
                }
                                     
                </div>
            </div>
            <div class="logearse" (click)="navegaLogin()"><u>Tengo cuenta</u></div>
            <div class="botones">
                <button type="submit" [disabled]="registroForm.invalid" (click)="registro()" pButton>Aceptar</button>
                <button type="button" (click)="borrar()" pButton>Limpiar</button>
            </div>
        </form>
    </div>
</div>
