.container{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .registro {
        font-size: x-large;
        padding: 3%;
        background-color: #A20E98;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        border-radius: 10px;

        h2{
            text-align:  center;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 4%;

            label {
                margin-bottom: 4%;
            }

            .logearse{
                margin-top: 5%;
                width: 50%;
                cursor: pointer; /* Cambia el cursor al pasar por encima del texto */

                :hover{
                    color:#f663c7;
                }
            }
        }

        .botonRegistro {
            margin-left: 15%; // Establece un margen izquierdo del 5%
        }
    
        button{
            margin-top: 4%;
            margin-left: 4%;
        }
        .p-button {
            background-color: white !important;
            color: black; /* Cambia el color de fondo de los botones pButton */
            border-color: black; /* Cambia el color de fondo de los botones pButton */
          }
    }
}