<div class="container">
    <ng-container *ngIf="usuario && usuario.id === usuarioIdFromLocalStorage">
      <div class="row flex-sm-row flex-column custom-margin-bottom">
        <!--Información del usuario que actual-->
        <div class="col-md-3 order-1 order-md-0">
          <img [src]="usuario.fotoPerfil" class="perfilAvatar">
          <h4>Usuario:  {{ usuario.nombre }}</h4>
          <h4>Correo:  {{ usuario.correoElectronico }}</h4>
          <h4>Edad:  {{ usuario.edad }}</h4>
          <h4>Profesión:  {{ usuario.profesion }}</h4>
          <h4>Fecha registro: {{ usuario.fechaRegistro | date:'dd/MM/yyyy' }}</h4>

          <!--Acciones para el usuario Actual-->
          <div class="botones">
            <button type="button" (click)="mostrarFormularioModificar()" pButton>Modificar usuario</button>
            <button type="button" (click)="eliminarUsuario(usuarioId)" pButton>Eliminar usuario</button>
            <button type="button" (click)="cerrarSesion()" pButton>Cerrar Sesión</button>
          </div>
          
          <!--Formulario para modificar al usuario Actual-->
          <div *ngIf="mostrandoFormularioModificar">
            <form (submit)="modificarUsuario()" #updateForm="ngForm">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" [(ngModel)]="usuarioTemporal.nombre" pInputText pattern="[a-zA-Z]*">
                <div *ngIf="updateForm.controls['nombre'].errors?.['pattern']">El nombre no puede contener números.</div>
              </div>
              <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="number" id="edad" name="edad" [(ngModel)]="usuarioTemporal.edad" pInputNumber min="16" max="100">
                <div *ngIf="updateForm.controls['edad'].errors?.['min'] || updateForm.controls['edad'].errors?.['max']">La edad debe estar entre 16 y 100.</div>
              </div>
              <div class="form-group">
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" [(ngModel)]="usuarioTemporal.correoElectronico" pInputText>
              </div>
              <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" [(ngModel)]="usuarioTemporal.contrasena" pInputText>
                <i class="pi" [ngClass]="{ 'pi-eye-slash': !showPassword, 'pi-eye': showPassword }" style="font-size: 1.5rem; cursor: pointer;" (click)="togglePasswordVisibility()"></i>
              </div>
              <div class="form-group">
                <label for="profesion">Profesión:</label>
                <select id="profesion" name="profesion" [(ngModel)]="usuarioTemporal.profesion" pInputText>
                  <option value="">Sin determinar</option>
                  <option value="actor">Actor/iz</option>
                  <option value="bailarin">Bailarín/a</option>
                  <option value="escenografo">Escenógrafo/a</option>
                  <option value="maquillador">Maquillador/a</option>
                  <option value="guionista">Guionista</option>
                  <option value="estilista">Estilista</option>
                </select>
              </div>
              <div class="form-group">
                <label for="fotoPerfil">Foto de perfil:</label>
                <div class="botones">
                  <button type="button" class="btn btn-primary" (click)="mostrarIconos()" pButton style="margin-top: 0;width: 100%;">Ver Iconos</button>
                </div>
              </div>
              <div class="avatares" *ngIf="mostrarDialogo">
                <div *ngFor="let imagen of imagenesUsuarios; let i = index" class="imagenes">
                    <img [src]="imagen" alt="Imagen">
                    <div class="botones">
                        <button type="button" class="btn btn-primary" pButton (click)="elegirFotoPerfil(i)">Elegir</button>
                    </div>
                </div>
                <div class="botones">
                    <button type="button" class="btn btn-primary" (click)="cerrarDialogo()" pButton style="margin-top: 20%;"> Cerrar</button>
                </div>
              </div>
                <div class="botones2">
                  <button type="submit" [disabled]="updateForm.invalid" pButton>Guardar</button>
                  <button type="button" (click)="cancelarModificacion()" pButton>Cancelar</button>
                </div>
            </form>
          </div>
        </div>
        <div class="col-md-5 order-0 order-md-1">
          <h1>Publicaciones</h1>
          <div *ngFor="let publicacion of publicacionesActual" class="publicaciones">
            <div class="contenido">
              <p>Contenido: {{ publicacion.contenido }}</p>
            </div>
            <p style="margin-bottom: 0;">Fecha de Publicación: {{ publicacion.fechaPublicacion | date:'dd/MM/yyyy'}}</p>
            <div class="acciones botones">
              <p ><i class="pi pi-heart" style="font-size: 1.5rem;"></i>{{ publicacion.numMeGustas}}</p>
              <p ><i class="pi pi-comment" style="font-size: 1.5rem"></i></p>
                <button type="button" (click)="mostrarFormularioUpdatePublicacion(publicacion.id, publicacion.contenido)" pButton>Editar</button>
                <button type="button" (click)="eliminarPublicacion(publicacion.id)" pButton>Eliminar</button>
            </div>
            <form *ngIf="publicacion.id === publicacionEnEdicion">
              <label for="contenidoPublicacion">Contenido de la Publicación:</label>
              <textarea id="contenidoPublicacion" name="contenidoPublicacion" rows="4" cols="40" [(ngModel)]="contenidoTemporal"></textarea>
              <div class="botones">
                  <button type="button" (click)="guardarPublicacion(publicacion.id)" pButton>Guardar</button>
                  <button type="button" (click)="cancelarPublicacion()" pButton>Cancelar</button>
              </div>
            </form>
          </div>
          <div *ngIf="publicacionesNoActual.length == 0">
            <p> ESTE USUARIO TODAVÍA NO HA PUBLICADO NADA</p>
          </div>
        </div>

        <!-- Información compañías del usuario Actual-->
        <div class="col-md-3 order-2">
          <h1>Compañías</h1>
          <div *ngIf="usuario.id === compania.idCreador && usuario.companiaSeguida!= 0 && usuario.tipoUsuario == 'estandar'; else otraCondicion" class="companias" (click)="goCompania(compania.id)">
            <img [src]="compania.fotoPerfil" class="perfilAvatarCompania">
            <p>{{compania.nombre.toLocaleUpperCase()}}</p>
            <p>Descripción: {{compania.descripcion}}</p>
            <p>Miembros: {{compania.miembros}}</p>
          </div>
          <ng-template #otraCondicion>
            <div *ngIf="usuario.companiaSeguida == compania.id  && compania.id !=0 && usuario.tipoUsuario == 'estandar'" class="companias" (click)="goCompania(compania.id)">
                <img [src]="compania.fotoPerfil" class="perfilAvatarCompania">  
                <p>{{compania.nombre.toLocaleUpperCase()}}</p>
                <p>Descripción: {{compania.descripcion}}</p>
                <p>Miembros: {{compania.miembros}}</p>
            </div>
          </ng-template>



          <!-- Creación de Compañia-->
          <div *ngIf="!compania || !compania.nombre" class="botones">
            <button type="button" (click)="mostrarFormularioEliminar()" pButton>Crear compañía</button>
          </div>
            <div *ngIf="mostrandoFormularioEliminar">
              <form (submit)="crearCompania()" #createForm="ngForm">
                <div class="form-group">
                  <label for="nombre">Nombre:</label>
                  <input type="text" id="nombre" name="nombre" [(ngModel)]="companiaTemporal.nombre" pInputText pattern="[a-zA-Z]*" required>
                  <div *ngIf="createForm.controls['nombre'].errors?.['pattern']">El nombre no puede contener números.</div>
                  <div *ngIf="createForm.controls['nombre'].errors?.['required']">El nombre es requerido.</div>
                </div>
                <div class="form-group">
                  <label for="correo">Descripción:</label>
                  <input type="text" id="descripcion" name="descripcion" [(ngModel)]="companiaTemporal.descripcion" pInputText required>
                  <div *ngIf="createForm.controls['descripcion'].errors?.['required']">La descripción es requerida.</div>
                </div>
                <div class="form-group">
                  <label for="fotoPerfil">Foto de perfil:</label>
                  <div class="botones">
                    <button type="button" class="btn btn-primary" (click)="mostrarIconos()" pButton style="margin-top: 0;width: 100%;">Ver Iconos</button>
                  </div>
                </div>
                  <div class="avatares">
                    @if (mostrarDialogo) {
                        <div *ngFor="let imagen of imagenesCompanias; let i = index" class="imagenes">
                            <img [src]="imagen" alt="Imagen">
                            <div class="botones">
                                <button type="button" class="btn btn-primary" pButton (click)="elegirFotoPerfilCompania(i)">Elegir</button>
                            </div>
                        </div>
                    } 
                    @if (mostrarDialogo) {
                    <div class="botones">
                        <button type="button" class="btn btn-primary" (click)="cerrarDialogo()" pButton style="margin-top: 20%;"> Cerrar</button>
                    </div>
                    }
                  </div>
                  <div class="botones2">
                    <button type="submit" [disabled]="createForm.invalid" pButton>Guardar</button>
                    <button type="button" (click)="cancelarCreacionCompania()" pButton>Cancelar</button>
                  </div>
            </form>
            </div>
            <h1 *ngIf="usuario.tipoUsuario == 'estandar'" class="amistad">Sigue a</h1>
            <div class="amistades">
                <div *ngFor="let usuario of usuarioSeguido" class="usuario" (click)="goPerfil(usuario.id)">
                  <img [src]="usuario.fotoPerfil" alt="Foto de perfil">
                  <p>{{ usuario.nombre.toUpperCase() }}</p>
                  <p>Edad: {{usuario.edad}}</p>
                </div>
            </div>
          </div>
      </div>
    </ng-container>


    <!--Información del usuario que no es el actual-->
    <ng-container *ngIf="!(usuario && usuario.id === usuarioIdFromLocalStorage)">
      <div class="row flex-sm-row flex-column">
        <div class="col-md-3">
          <img [src]="usuario.fotoPerfil" class="perfilAvatar">
          <h3>Usuario:  {{ usuario.nombre }}</h3>
          <h3>Correo:  {{ usuario.correoElectronico }}</h3>
          <h3>Edad:  {{ usuario.edad }}</h3>
          <h3>Profesión:  {{ usuario.profesion }}</h3>
          <div class="botones">
            <ng-container *ngIf="!estaEnAmistad; else dejarDeSeguir">
              <button type="button" (click)="seguirUsuario()" class="botonSeguirPerfil" pButton>
                Seguir<i class="pi pi-user-plus" style="font-size: 1.2rem;"></i>
              </button>
            </ng-container>
            <ng-template #dejarDeSeguir>
              <ng-container>
                <button type="button" (click)="dejarDeSeguirUsuario(usuarioId)" class="botonDejarDeSeguirPerfil" pButton>
                  Dejar de seguir<i class="pi pi-user-minus" style="font-size: 1.2rem;"></i>
                </button>
              </ng-container>
            </ng-template>
          </div>
        </div>
        <div class="col-md-5 order-0 order-md-1">
          <h1>Publicaciones</h1>
          <div *ngFor="let publicacion of publicacionesNoActual" class="publicaciones">
            <div class="contenido">
              <p>Contenido: {{ publicacion.contenido }}</p>
            </div>
            <p style="margin-top: 2%;">Fecha de Publicación: {{ publicacion.fechaPublicacion | date:'dd/MM/yyyy'}}</p>
            <div class="acciones botones">
              <p ><i class="pi pi-heart" style="font-size: 1.5rem"></i>{{ publicacion.numMeGustas}}</p>
              <p ><i class="pi pi-comment" style="font-size: 1.5rem"></i></p>
            </div>
          </div>
          <div *ngIf="publicacionesNoActual.length == 0">
            <p> ESTE USUARIO TODAVÍA NO HA PUBLICADO NADA</p>
          </div>
        </div>
        <div class="col-md-3 order-2">
          <!-- Información compañías si el perfil no es del usuario actual-->
          <h1>Compañías</h1>
          <div *ngIf="usuario.id === compania.idCreador && usuario.tipoUsuario == 'estandar'; else otraCondicion" class="companias" (click)="goCompania(compania.id)">
            <img [src]="compania.fotoPerfil" class="perfilAvatarCompania">
            <p>{{compania.nombre.toLocaleUpperCase()}}</p>
            <p>Descripción: {{compania.descripcion}}</p>
            <p>Miembros: {{compania.miembros}}</p>
          </div>
          <ng-template #otraCondicion>
            <div *ngIf="usuario.companiaSeguida == compania.id  && compania.id !=0 && usuario.tipoUsuario == 'estandar'" class="companias" (click)="goCompania(compania.id)">
                <img [src]="compania.fotoPerfil" class="perfilAvatarCompania">  
                <p>{{compania.nombre.toLocaleUpperCase()}}</p>
                <p>Descripción: {{compania.descripcion}}</p>
                <p>Miembros: {{compania.miembros}}</p>
            </div>
          </ng-template>
          <h1 *ngIf="usuario.tipoUsuario == 'estandar'" class="amistad">Sigue a</h1>
          <div *ngIf="estaEnAmistad" class="amistades">
            <div *ngFor="let usuario of usuarioSeguido" class="usuario" (click)="goPerfil(usuario.id)">
              <img [src]="usuario.fotoPerfil" alt="Foto de perfil">
              <p>{{ usuario.nombre.toUpperCase() }}</p>
              <p>Edad: {{usuario.edad}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  