<div class="container">
    <ng-container *ngIf="usuario && usuario.id === usuarioIdFromLocalStorage">
      <div class="row flex-sm-row flex-column custom-margin-bottom">
        <div class="col-md-3 order-1 order-md-0">
          <h3>Usuario:  {{ usuario.nombre }}</h3>
          <h3>Correo:  {{ usuario.correoElectronico }}</h3>
          <h3>Edad:  {{ usuario.edad }}</h3>
          <h3>Profesión:  {{ usuario.profesion }}</h3>
          <div class="botones">
            <button type="button" (click)="eliminarUsuario(usuarioId)" pButton>Eliminar usuario</button>
            <button type="button" (click)="mostrarFormularioModificar()" pButton>Modificar usuario</button>
            <button type="button" (click)="cerrarSesion()" pButton>Cerrar Sesión</button>
          </div>
          
          <div *ngIf="mostrandoFormularioModificar">
            <form (submit)="modificarUsuario()" #updateForm="ngForm">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" pInputText pattern="[a-zA-Z]*">
                <div *ngIf="updateForm.controls['nombre'].errors?.['pattern']">El nombre no puede contener números.</div>
              </div>
              <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="number" id="edad" name="edad" [(ngModel)]="usuario.edad" pInputNumber min="16" max="100">
                <div *ngIf="updateForm.controls['edad'].errors?.['min'] || updateForm.controls['edad'].errors?.['max']">La edad debe estar entre 16 y 100.</div>
              </div>
              <div class="form-group">
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" [(ngModel)]="usuario.correoElectronico" pInputText>
              </div>
              <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" [(ngModel)]="usuario.contrasena" pInputText>
                <i class="pi" [ngClass]="{ 'pi-eye-slash': !showPassword, 'pi-eye': showPassword }" style="font-size: 1.5rem; cursor: pointer;" (click)="togglePasswordVisibility()"></i>
              </div>
              <div class="form-group">
                <label for="profesion">Profesión:</label>
                <select id="profesion" name="profesion" [(ngModel)]="usuario.profesion" pInputText>
                  <option value="">Sin determinar</option>
                  <option value="actor">Actor/iz</option>
                  <option value="bailarin">Bailarín/a</option>
                  <option value="escenografo">Escenógrafo/a</option>
                  <option value="maquillador">Maquillador/a</option>
                  <option value="guionista">Guionista</option>
                  <option value="estilista">Estilista</option>
                </select>
              </div>
              <div class="form-group">
                <label for="fotoPerfil">Foto de perfil:</label>
                <input type="file" id="foto" name="foto" pFileUpload mode="basic" [(ngModel)]="usuario.fotoPerfil">
              </div>
              <div class="botones2">
                <button type="submit" [disabled]="updateForm.invalid" pButton>Guardar</button>
                <button type="button" (click)="cancelarModificacion()" pButton>Cancelar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5 order-0 order-md-1">
            <h1>Publicaciones</h1>
        </div>
        <div class="col-md-3 order-2">
          <h1>Compañías</h1>
          <div *ngFor="let compania of companias" class="companias">
            <p>{{compania.nombre}}</p>
          </div>
            <div class="botones">
              <button type="button" (click)="mostrarFormularioEliminar()" pButton>Crear compañía</button>
            </div>
            <div *ngIf="mostrandoFormularioEliminar">
              <form (submit)="crearCompania()" #createForm="ngForm">
                <div class="form-group">
                  <label for="nombre">Nombre:</label>
                  <input type="text" id="nombre" name="nombre" [(ngModel)]="compania.nombre" pInputText pattern="[a-zA-Z]*">
                  <div *ngIf="createForm.controls['nombre'].errors?.['pattern']">El nombre no puede contener números.</div>
                </div>
                <div class="form-group">
                  <label for="correo">Descripción:</label>
                  <input type="text" id="descripcion" name="descripcion" [(ngModel)]="compania.descripcion" pInputText>
                </div>
                <div class="form-group">
                  <label for="fotoPerfil">Foto de perfil:</label>
                  <input type="file" id="foto" name="foto" pFileUpload mode="basic" [(ngModel)]="compania.fotoPerfil">
                </div>
                <div class="botones2">
                  <button type="submit" [disabled]="createForm.invalid" pButton>Guardar</button>
                  <button type="button" (click)="cancelarCreacionCompania()" pButton>Cancelar</button>
                </div>
              </form>
            </div>
            <h1 class="amistades">Amistades</h1>
          </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!(usuario && usuario.id === usuarioIdFromLocalStorage)">
      <div class="row flex-sm-row flex-column">
        <div class="col-md-3">
          <h3>Usuario:  {{ usuario.nombre }}</h3>
          <h3>Correo:  {{ usuario.correoElectronico }}</h3>
          <h3>Edad:  {{ usuario.edad }}</h3>
          <h3>Profesión:  {{ usuario.profesion }}</h3>
          <div class="botones">
            <button type="button" (click)="seguirUsuario($event)">Seguir<i class="pi pi-user-plus" style="font-size: 1.2rem;" pButton></i> </button>
          </div>
        </div>
        <div class="col-md-5">
          <h1>Publicaciones</h1>
      </div>
      </div>
    </ng-container>
  </div>
  