<div class="container">
  <div *ngIf="usuarios">
    <button (click)="mostrarCrearPublicacion()">CREAR PUBLICACIÓN</button>
    @if (mostrarCrear) {
      <div>
          <form (ngSubmit)="crearPublicacionUsuario()" #publicacionForm="ngForm">
              <div class="form-group">
                  <label for="contenido">Contenido</label>
                  <textarea id="contenido" name="contenido" class="form-control" [(ngModel)]="publicacion.contenido" required></textarea>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-secondary" (click)="cerrarCrearPublicacion()">Cancelar</button>
              </div>
          </form>
      </div>
  }
  
    
    <h2>Listado de Usuarios</h2>
    <ul>
      <li *ngFor="let usuario of usuarios">
        <div>
          <p><strong>ID:</strong> {{ usuario.id }}</p>
          <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
          <p><strong>Edad:</strong> {{ usuario.edad }}</p>
          <p><strong>Email:</strong> {{ usuario.correoElectronico }}</p>
          <p><strong>Contraseña:</strong> {{ usuario.contrasena }}</p>
          <p><strong>Profesión:</strong> {{ usuario.profesion }}</p>
          <p><strong>Fecha de Registro:</strong> {{ usuario.fechaRegistro }}</p>
          <p><strong>Foto de Perfil:</strong> {{ usuario.fotoPerfil }}</p>
          <p><strong>Tipo de Usuario:</strong> {{ usuario.tipoUsuario }}</p>
          <p><strong>Compañia seguida:</strong> {{ usuario.companiaSeguida }}</p>
        </div>
        <hr>
      </li>
    </ul>
  </div>
</div>

  
