<div class="container">
  <div *ngIf="usuarios">
    <h2>Listado de Usuarios</h2>
    <ul>
      <li *ngFor="let usuario of usuarios">
        <div>
          <p><strong>ID:</strong> {{ usuario.id }}</p>
          <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
          <p><strong>Edad:</strong> {{ usuario.edad }}</p>
          <p><strong>Email:</strong> {{ usuario.correoElectronico }}</p>
          <p><strong>Contraseña:</strong> {{ usuario.contrasena }}</p>
          <p><strong>Profesión:</strong> {{ usuario.profesion }}</p>
          <p><strong>Fecha de Registro:</strong> {{ usuario.fechaRegistro }}</p>
          <p><strong>Foto de Perfil:</strong> {{ usuario.fotoPerfil }}</p>
          <p><strong>Tipo de Usuario:</strong> {{ usuario.tipoUsuario }}</p>
          <p><strong>Compañia seguida:</strong> {{ usuario.companiaSeguida }}</p>
        </div>
        <hr>
      </li>
    </ul>
  </div>

  <div *ngIf="companias">
    <h2>Listado de compañías</h2>
    <ul>
      <li *ngFor="let compania of companias">
        <div>
          <p><strong>ID:</strong> {{ compania.id }}</p>
          <p><strong>Nombre:</strong> {{ compania.nombre }}</p>
          <p><strong>Descripción:</strong> {{ compania.descripcion }}</p>
          <p><strong>Fecha de Creacion:</strong> {{ compania.fechaCreacion }}</p>
          <p><strong>Foto de Perfil:</strong> {{ compania.fotoPerfil }}</p>
          <p><strong>Nº Miembros:</strong> {{ compania.miembros }}</p>
        </div>
        <hr>
      </li>
    </ul>
  </div>
  
  <div *ngIf="!usuarios">
    <p>No se encontraron usuarios.</p>
  </div>
</div>

  
