<app-loader *ngIf="!loader"></app-loader>
<div class="container" *ngIf="loader">
  <div class="row flex-sm-row flex-column">
    <div class="col-md-3 mb-3 mb-md-0">
      <h1>Personas que sigues</h1>
      <div *ngFor="let usuario of usuariosEnAmistad" class="usuario" (click)="selectUsuario(usuario)">
        <img [src]="usuario.fotoPerfil" alt="Foto de perfil">
        <p>{{ usuario.nombre.toUpperCase() }}</p>
      </div>
      <div *ngIf="usuariosEnAmistad.length === 0">
        <h2>Para escribir a alguien debes seguirle</h2>
      </div>
    </div>
    <div class="col-md-8">
      <div class="conversaciones">
        <ul class="messages">
          <li class="message right" *ngFor="let item of messageList"
              [ngClass]="{'left': item.message_side === 'reciever', 'right': item.message_side === 'sender'}">
              <div *ngIf="item.usuario" class="avatar">
                <img [src]="item.usuario.fotoPerfil" class="perfilAvatar">
              </div>
              <div class="text-wrapper">
                  <div class="text">{{ item.message }}</div>
              </div>
          </li>
      </ul>
        <div class="enviar">
          <input type="text" placeholder="Enviar Mensaje..." [(ngModel)]="messageInput"/>
          <button (click)="sendMessage()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
