<div class="cabecera">
    <div class="autor">
        <h2><i>®Andrés Jesús López García</i></h2>
    </div>
    <div class="nav">
        <nav>
            <ul >
                <li><a href="mailto:andreslopgar17@gmail.com" target="_blank"><i class="pi pi-envelope" style="font-size: 1rem"></i></a></li>
                <li><a href="https://www.linkedin.com/in/andrés-jesús-lópez-garcía-595a22208/" target="_blank"><i class="pi pi-linkedin" style="font-size: 1rem"></i></a></li>
                <li><a href="https://github.com/AndresLopgar" target="_blank"><i class="pi pi-github" style="font-size: 1rem"></i></a></li>
            </ul> 
        </nav>
    </div>
</div>

