<app-loader *ngIf="!loader"></app-loader>
<div class="container" *ngIf="loader">
    <div class="col-md-11">
        @if (notificaciones.length != 0) {
            <h3>Filtros</h3>
            <div class="form-group" style="margin-bottom: 2%;">
                <label for="filtroTipo">Filtrar por tipo de notificación:</label>
                <select class="form-control" id="filtroTipo" name="filtroTipo" (change)="filtrarNotificaciones($event)">
                    <option value="todos">Todos</option>
                    <option value="seguimiento">Seguimiento</option>
                    <option value="meGusta">Me gusta</option>
                    <option value="comenta">Comenta</option>
                    <option value="unirseCompania">Unirse a Compañía</option>
                    <option value="publicacionCompania">Publicación Compañía</option>
                    <option value="comentaCompania">Comenta Compañía</option>
                    <option value="meGustaCompania">Me gusta Compañía</option>
                    <option value="dejaCompania">Dejar Compañía</option>
                    <option value="PublicacionSeguido">Publicaciones Seguidos</option>
                </select>
              </div>
              <button (click)="eliminarNotificaciones()" type="button" pButton>Eliminar notificaciones</button>
        @for (notificacion of notificacionesFiltradas; track $index) {
            <div class="notificacion">
                @if (usuariosCargados[notificacion.idUsuarioEmisor]) {
                    @if (notificacion.tipoNotificacion != "publicacionCompania") {
                        <img (click)="irAlPerfilUsuario(notificacion.idUsuarioEmisor)"  [src]="usuariosCargados[notificacion.idUsuarioEmisor].fotoPerfil" class="perfilAvatar" style="cursor: pointer;">
                    }
                    @if (notificacion.tipoNotificacion === "seguimiento") {
                        <p (click)="irAlPerfilUsuario(notificacion.idUsuarioEmisor)" style="cursor: pointer;">{{usuariosCargados[notificacion.idUsuarioEmisor].nombre.toLocaleUpperCase()}} te acaba de seguir</p>
                    }
                    @if (notificacion.tipoNotificacion === "meGusta") {
                        <p (click)="irAlPerfilUsuario(notificacion.idUsuarioEmisor)" style="cursor: pointer;">{{usuariosCargados[notificacion.idUsuarioEmisor].nombre.toLocaleUpperCase()}} le ha dado me gusta a una publicación tuya</p>
                    }
                    @if (notificacion.tipoNotificacion === "comenta") {
                        <p (click)="irAlPerfilUsuario(notificacion.idUsuarioEmisor)" style="cursor: pointer;">{{usuariosCargados[notificacion.idUsuarioEmisor].nombre.toLocaleUpperCase()}} ha comentado en una publicación tuya</p>
                    }
                    @if(esCreador && notificacion.tipoNotificacion === "unirseCompania"){
                        <p (click)="irAlPerfilUsuario(notificacion.idUsuarioEmisor)" style="cursor: pointer;">{{usuariosCargados[notificacion.idUsuarioEmisor].nombre.toLocaleUpperCase()}} se ha unido a tu compañía </p><p (click)="irAlPerfilCompania(compania.id)" style="cursor: pointer;">{{compania.nombre.toLocaleUpperCase()}}</p>
                    }
                    @if(esCreador && notificacion.tipoNotificacion === "dejaCompania"){
                        <p (click)="irAlPerfilUsuario(notificacion.idUsuarioEmisor)" style="cursor: pointer;">{{usuariosCargados[notificacion.idUsuarioEmisor].nombre.toLocaleUpperCase()}} ha abandonado a tu compañía </p><p (click)="irAlPerfilCompania(compania.id)" style="cursor: pointer;">{{compania.nombre.toLocaleUpperCase()}}</p>
                    }
                    @if(esCreador && notificacion.tipoNotificacion === "comentaCompania"){
                        <p (click)="irAlPerfilUsuario(notificacion.idUsuarioEmisor)" style="cursor: pointer;">{{usuariosCargados[notificacion.idUsuarioEmisor].nombre.toLocaleUpperCase()}} ha comentado en una publicación de tu compañía </p><p (click)="irAlPerfilCompania(compania.id)" style="cursor: pointer;">{{compania.nombre.toLocaleUpperCase()}}</p>
                    }
                    @if(esCreador && notificacion.tipoNotificacion === "meGustaCompania"){
                        <p (click)="irAlPerfilUsuario(notificacion.idUsuarioEmisor)" style="cursor: pointer;">{{usuariosCargados[notificacion.idUsuarioEmisor].nombre.toLocaleUpperCase()}} ha dado me gusta en una publicación de tu compañía </p><p (click)="irAlPerfilCompania(compania.id)" style="cursor: pointer;">{{compania.nombre.toLocaleUpperCase()}}</p>
                    }
                    @if(esSeguidor && notificacion.tipoNotificacion === "PublicacionSeguido"){
                        <p (click)="irAlPerfilUsuario(notificacion.idUsuarioEmisor)" style="cursor: pointer;">{{usuariosCargados[notificacion.idUsuarioEmisor].nombre.toLocaleUpperCase()}} a quien sigues ha subido una publicación</p>
                    }
                    @if(notificacion.tipoNotificacion === "publicacionCompania"){
                        <img [src]="compania.fotoPerfil" (click)="irAlPerfilCompania(compania.id)" style="cursor: pointer;" class="perfilAvatar">
                        <p (click)="irAlPerfilCompania(compania.id)" style="cursor: pointer;">{{compania.nombre.toLocaleUpperCase()}} a quien perteneces ha subido una publicación</p>
                    }
                }         
                <p (click)="irAlPerfilUsuario(notificacion.idUsuarioEmisor)" style="cursor: pointer;">Fecha Notificación: {{ formatDateToLocal(notificacion.fechaNotificacion) }}</p>     
                <i class="pi pi-trash" style="font-size: 1rem; cursor: pointer;" (click)="eliminarNotificacion(notificacion.id)"></i>
            </div>
        }}@else{
            <h1 style="text-align: center;">NO HAY NOTIFICACIONES</h1>
        }
    </div>
</div>
