<div class="container">
    <div class="login">
        <h2><u>Login</u></h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="usuario">Usuario (Nombre o Correo):</label>
                <input type="text" id="usuario" name="usuario" pInputText>
            </div>
            <div class="form-group">
                <label for="contraseñaLogin">Contraseña:</label>
                <input type="password" id="contraseñaLogin" name="contraseñaLogin" pPassword>
                <p (click)="navegaRegistro()"><u>Registrarse</u></p>
            </div>
            <button type="button" (click)="login()" pButton>Aceptar</button>
            <button type="button" (click)="borrar('loginForm')" pButton>Limpiar</button>
            
        </form>
    </div>
</div>

