.cabecera {
    background-color: var(--color-primario);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    color: white;
    width: 100%;

    .titulo {
        margin-left: 5%;
    }

    .nombrePag {
        margin-left: 16%;
        cursor: pointer;
    }

    .nav {
        margin-left: 15%;
            .navbar-nav{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 80%;

                li{
                    text-align: center;

                    a {
                        color: white;
                        text-decoration: none;
    
                        &.img {
                            margin-left: 20%;
                            border-radius: 50%;
                            border: 2px solid white;
                            text-align: center;
                            line-height: 23px;
                            width: 40px;
                        }
                    }
                }

                li:hover {
                    border-bottom: 2px solid white;
                }

                .nav-item{
                    width: 30%;
                }
            }
        }
}