<div class="container-fluid cabecera">
    <div class="row">
        <div class="col titulo">
            <h2><i>{{titulo}}</i></h2>
        </div>
        <div class="col nombrePag">
            <h1 (click)="navegarHome()">ARTCONNECT</h1>
        </div>
        <div class="col nav">
                <ul *ngIf="tipoUsuario === 'estandar'" class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="buscar"><i class="pi pi-search" style="font-size: 1.5rem"></i></a></li>
                    <li class="nav-item"><a class="nav-link img" (click)="goPerfil(idUsuario)"><img src="#"></a></li>
                </ul>
                <ul *ngIf="tipoUsuario === 'noRegistrado'" class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="login"><i class="pi pi-search" style="font-size: 1.5rem"></i></a></li>
                    <li class="nav-item"><a class="nav-link img" href="login"><i class="pi pi-user" style="font-size: 1.5rem"></i></a></li>
                </ul>
                <ul *ngIf="tipoUsuario === 'gestor'" class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="buscar"><i class="pi pi-search" style="font-size: 1.5rem"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="moderar"><i class="pi pi-wrench" style="font-size: 1.5rem"></i></a></li>
                    <li class="nav-item"><a class="nav-link img" (click)="goPerfil(idUsuario)"><i class="pi pi-user" style="font-size: 1.5rem"></i></a></li>
                </ul>
        </div>
    </div>
</div>
