.container {
    color: white;

    .login {
        font-size: large;
        background-color: var(--color-primario);
        padding: 5%;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        border-radius: 10px;

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            label {
                font-weight: bold;
            }
        }

        .iconos {
            display: flex;
            justify-content: flex-end; /* Coloca el ícono a la derecha */
            margin-top: 5px; /* Ajusta el margen superior según sea necesario */
        }

        .registrarse{
            margin-top: 5%;
            width: 60%;
            :hover{
                color: var(--color-enlaces-hover);
            }
            
            
        }

        .botones {
            display: flex;
            justify-content: center;

            :hover{
                box-shadow: 0px 0px 20px 0px var(--color-enlaces-hover);
            }
        }
    }

    .custom-button {
        margin: 0 10px; /* Ajusta el margen entre los botones según sea necesario */
    }
}
