.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .login {
        font-size: large;
        padding: 5%;
        background-color: var(--color-primario);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        align-self: center; // Centra verticalmente el contenedor login

        h2 {
            text-align: center;
            margin-bottom: 10%;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 4%;

            label {
                margin-bottom: 4%;
            }

            .registros {
                margin-top: 8%;
                font-size: x-large;
                width: 100%;
                display: flex;
                .registrarse {
                    margin-left: 2%;
                    width: 60%;
                    cursor: pointer;
    
                    &:hover {
                        color: var(--color-enlaces-hover);
                    }
                }
            }
        }

        button {
            margin-top: 4%;
            margin-left: 12%;
        }

        .custom-button {
            padding: 2%;
            border-radius: 10px;
            background-color: white !important;
            color: black; /* Cambia el color de fondo de los botones pButton */
            border-color: black;
        }
    }
}
