.container {
    max-width: 100%;

    .row {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: nowrap;
        color: white;
        margin: 0;

        .col-md-8 {
            padding: 1%;
            border-radius: 10px;
            display: flex;
            text-align: center;
            background-color: var(--color-primario);
            height: 75vh;
            flex-direction: column;

            .conversaciones{
                border-radius: 10px;
                height: 70vh;
                border: 2px solid var(--color-enlaces-hover);

                .enviar {
                width: 100%;
                margin-top: 50%;

                    input{
                        border-radius: 10px;
                        width: 80%;
                        height: 6vh;
                    }

                    button{
                        margin-left: 1%;
                        padding: 1%;
                        border-radius: 10px;
                        background-color: white !important;
                        color: black; /* Cambia el color de fondo de los botones pButton */
                        border-color: black;

                        &:hover{
                            box-shadow: 0px 0px 20px 0px var(--color-enlaces-hover);
                        }
                    }
                }
            }
        }


        .col-md-3 {
            padding: 1%;
            border-radius: 10px;
            display: flex;
            height: 75vh;
            text-align: center;
            background-color: var(--color-primario);
            max-height: 100%;
            flex-direction: column;
            margin-bottom: 20px;

            h1{
                padding-bottom: 3%;
                border-bottom: 2px solid var(--color-enlaces-hover);
            }

            .usuario {
                background-color: var(--color-enlaces-hover);
                margin-top: 2%;
                padding: 1%;
                margin-bottom: 3%;
                display: flex; 
                align-items: stretch; 
                justify-content: space-evenly;
                flex-direction: row;
                width: 100%;
                border: solid 2px white;
                border-radius: 10px;

                &:hover{
                    cursor: pointer;
                }

                img {
                    width: 50px; // Ajusta el tamaño de la imagen según sea necesario
                    height: 50px; // Ajusta el tamaño de la imagen según sea necesario
                    margin-right: 10px; // Añade un espacio entre la imagen y los textos
                    border-radius: 50%;
                    border: 2px solid white; /* Borde blanco */
                    text-align: center;
                    line-height: 40px; /* Ajusta según el tamaño deseado */
                }

                p {
                    margin-top: 2.5%;// Centra los elementos p dentro de la clase .usuario
                }

                .custom-button {
                    display: flex;
                    justify-content: space-around;
                    align-items:  center;
                    width: 20%;
                    padding: 1%;
                    border-radius: 10px;
                    background-color: white !important;
                    color: black; /* Cambia el color de fondo de los botones pButton */
                    border-color: black;
                }
            }
        }
    }
}

@media (max-width: 991px) { /* Estilo aplicado cuando el ancho de la pantalla es menor o igual a 991px */
    .container {       
        .col-md-8, .col-md-3 { /* Estilos para las columnas de tamaño md */
          height: auto !important; /* Cambia la altura a auto para ajustarse al contenido */
          margin-bottom: 10px; /* Añade un margen inferior entre las columnas */   
        }
    }
}