/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';

body {
  font-family: serif;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('assets/fondo.png');
  background-repeat: repeat;
  background-size: 100px;
}


:root{
    --color-primario: #A20E98;
    --color-enlaces-hover: #f663c7;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: var(--color-primario);       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-enlaces-hover);
    border-radius: 20px;    
    border: 3px solid var(--color-primario);  
  }



